h1 {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 5px;
}

/* Resize images */
.container img {
  width: 2.5%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 22px;
}

a[href*="github"]:hover {
  color: black;
}

a[href*="LinkedIn"]:hover {
  color: rgb(21, 105, 191);
}

a[href*="soundcloud"]:hover {
  color: rgb(253, 108, 33);
}

a[href*="instagram"]:hover {
  color: rgb(143, 58, 188);
}

img[alt*="GitHub Logo"] {
  size: 50%;
}

#full-page {
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 100px;
}

a[href*="dailyhuman"]:hover {
  color: black;
  text-decoration: coral underline;
}

a[href*="villanova"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(67, 185, 227) underline;
}

#education-link {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-transform: uppercase;

  font-size: 25px;
  letter-spacing: 2px;
}

/* Resize images */
.container-exp img {
  width: 75px;
  height: auto;
}

h3 {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

h4 {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

li {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

a[href*="udemy"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(235, 82, 79) underline;
}

a[href*="leetcode"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(248, 159, 27) underline;
}

a[href*="interviewcake"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(91, 192, 222) underline;
}

/* Resize images */
.container-edu img {
  width: 75px;
  height: auto;
}

.self-learning {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 16px;
}

.self-learning-img {
  width: 20px;
  height: auto;
}

#ul-images {
  list-style: none;
  padding-left: 10px;
}
