h1 {
  font-family: monospace;
}

h2 {
  text-transform: uppercase;
  font-family: monospace;
  text-align: left;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

h3 {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

h4 {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

/* Resize images */
.container img {
  width: 75px;
  height: auto;
}

a {
  font-family: monospace;
  color: black;
  text-decoration: underline;
  font-size: 25px;
}

a[href*="dailyhuman"]:hover {
  color: black;
  text-decoration: coral wavy underline;
}

a[href*="villanova"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(67, 185, 227) wavy underline;
}

li {
  font-family: monospace;
}

.self-learning {
  font-family: monospace;
  font-size: 13px;
}

.self-learning-img {
  width: 20px;
  height: auto;
}

a[href*="udemy"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(235, 82, 79) wavy underline;
}

a[href*="leetcode"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(248, 159, 27) wavy underline;
}

a[href*="interviewcake"]:hover {
  color: rgb(2, 35, 99);
  text-decoration: rgb(91, 192, 222) wavy underline;
}
